temp/productCatalog.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://testmart.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://testmart.com" name="TestMartCatalogService">
<types>
<xsd:schema>
<xsd:import namespace="http://testmart.com" schemaLocation="http://rpipl2-nb-dl009:8080/Testmart/TestMartCatalogService?xsd=1"/>
</xsd:schema>
</types>
<message name="fetchCategories">
<part name="parameters" element="tns:fetchCategories"/>
</message>
<message name="fetchCategoriesResponse">
<part name="parameters" element="tns:fetchCategoriesResponse"/>
</message>
<message name="getProductsv2">
<part name="parameters" element="tns:getProductsv2"/>
</message>
<message name="getProductsv2Response">
<part name="parameters" element="tns:getProductsv2Response"/>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<message name="getProducts">
<part name="parameters" element="tns:getProducts"/>
</message>
<message name="getProductsResponse">
<part name="parameters" element="tns:getProductsResponse"/>
</message>
<portType name="TestMartCatalog">
<operation name="fetchCategories">
<input wsam:Action="fetch_categories" message="tns:fetchCategories"/>
<output wsam:Action="http://testmart.com/TestMartCatalog/fetchCategoriesResponse" message="tns:fetchCategoriesResponse"/>
</operation>
<operation name="getProductsv2">
<input wsam:Action="http://testmart.com/TestMartCatalog/getProductsv2Request" message="tns:getProductsv2"/>
<output wsam:Action="http://testmart.com/TestMartCatalog/getProductsv2Response" message="tns:getProductsv2Response"/>
</operation>
<operation name="addProduct">
<input wsam:Action="http://testmart.com/TestMartCatalog/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://testmart.com/TestMartCatalog/addProductResponse" message="tns:addProductResponse"/>
</operation>
<operation name="getProducts">
<input wsam:Action="http://testmart.com/TestMartCatalog/getProductsRequest" message="tns:getProducts"/>
<output wsam:Action="http://testmart.com/TestMartCatalog/getProductsResponse" message="tns:getProductsResponse"/>
</operation>
</portType>
<binding name="TestMartCatalogPortBinding" type="tns:TestMartCatalog">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="fetchCategories">
<soap:operation soapAction="fetch_categories"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductsv2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TestMartCatalogService">
<port name="TestMartCatalogPort" binding="tns:TestMartCatalogPortBinding">
<soap:address location="http://rpipl2-nb-dl009:8080/Testmart/TestMartCatalogService"/>
</port>
</service>
</definitions>